@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
body{
    background-color: rgb(46, 46, 49);
}
h1{
    text-align: center;
}
.container{
    display: flex;
    /* border: 2px solid white; */
    /* height: 50vh; */
    /* width: 50%; */
    width: 100%;
    margin: 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todo-list{
    width: 30%;
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 20px;
    box-shadow: 0 0px 30px rgb(224, 224, 238);
    border-radius: 5px;
}
.list-head input{
    width: 75vw;
    padding: 10px 10px;
    color: black;
    font-size: 16px;

}
.list-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.list-head #add_btn{
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
}

#to-do-box{
    margin-top: 20px;
    list-style: none;
}
#to-do-box li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 0px 5px rgb(224, 224, 238);
    padding: 10px;
}
#delete{
    font-size: 20px;
    cursor: pointer;
}
.done{
    text-decoration: line-through;
    color: black;
    
}
/* REsponsive */
@media (max-width: 480px) {
    .todo-list {
        width: 100%;
    }
  }
